REACT_APP_INFURA_IPFS_API_KEY="2Sh7fzyAhm0y9bUkosYwGzncQoM"
REACT_APP_INFURA_IPFS_API_KEY_SECRET= "4f5e41863b887984956e452fab89c565"

REACT_APP_ALCHEMY_SEPOLIA_API_KEY=""
REACT_APP_SEPOLIA_PRIVATE_KEY=""